<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/ad598111-73d2-451e-a7bc-af7c8fd40045/resourceGroups/wftaccuvopdevscusrg021/providers/Microsoft.Web/sites/wftaccuvopdevscuswa021</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wftaccuvopdevscuswa021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8f69b245-6b86-47b6-abff-c65e8cd22f20</ProjectGuid>
    <publishUrl>ftps://waws-prod-sn1-225.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>wftaccuvopdevscuswa021\$wftaccuvopdevscuswa021</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>